/* Navbar config */
.navbar-default{
    height: 60px;
    background-image: none;
    background: transparent;
    border: none;
    box-shadow: none;
    /*background: linear-gradient(to bottom, rgba(40,40,40,0.4) 0%, rgba(40,40,40,0.1) 35%,rgba(40,40,40,0) 100%);*/
}

/*.navbar-default::before{*/
/*content: '';*/
/*position: absolute;*/
/*color: whitesmoke;*/
/*width: 100%;*/
/*height: 100%;*/
/*/!*background-color: white;*!/*/
/*}*/
body{
    font-size: 16px;
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

.navbar-brand {
    padding: 0 15px;
}

.navbar-content-right {
    display: flex;
    padding: 8px 0;
}

@media (min-width: 980px) {
    .navbar-content-right{
        max-width: 600px;
    }
}

.navbar-content-right button, .navbar-content-right p, .navbar-content-right a {
    padding: 0 10px;
    margin: auto 0;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

/* Search styles */
input.form-control.input-md{
    display: none;
}

#custom-search-input input{
    height: 30px;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
}

.input-group-btn{
    padding-top: 3px;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    color: #8A8A8A;
}

.container-fluid.search-container{
    padding-top: 100px;
    padding-left: 20px;
}

.mb20 {
    margin-bottom: 20px;
}

hgroup {
    padding-left: 15px;
    border-bottom: 1px solid #ccc;
    margin-right: 15px;
}

hgroup h1 {
    font: 500 normal 1.625em "Roboto", Arial, Verdana, sans-serif;
    color: #2a3644;
    margin-top: 0;
    line-height: 1.15;
}

hgroup h2.lead {
    font: normal normal 1.125em "Roboto", Arial, Verdana, sans-serif;
    color: #2a3644;
    margin: 0;
    padding-bottom: 10px;
}

.search-result .thumbnail {
    border-radius: 0 !important;
}

.search-result:first-child {
    margin-top: 0 !important;
}

.search-result {
    margin-top: 20px;
}

.search-result .col-md-2 {
    border-right: 1px dotted #ccc;
    min-height: 140px;
}

.search-result ul {
    padding-left: 0 !important;
    list-style: none;
}

.search-result ul li {
    font: 400 normal .85em "Roboto", Arial, Verdana, sans-serif;
    line-height: 30px;
}

.search-result ul li i {
    padding-right: 5px;
}

.search-result .col-md-7 {
    position: relative;
}

.search-result h3 {
    font: 500 normal 1.375em "Roboto", Arial, Verdana, sans-serif;
    margin-top: 0 !important;
    margin-bottom: 10px !important;
}

.search-result h3 > a, .search-result i {
    color: #248dc1 !important;
}

.search-result p {
    font: normal normal 1.125em "Roboto", Arial, Verdana, sans-serif;
}

.search-result span.plus {
    position: absolute;
    right: 0;
    top: 126px;
}

.search-result span.plus a {
    background-color: #248dc1;
    padding: 5px 5px 3px 5px;
}

.search-result span.plus a:hover {
    background-color: #414141;
}

.search-result span.plus a i {
    color: #fff !important;
}

.search-result span.border {
    display: block;
    width: 97%;
    margin: 0 15px;
    border-bottom: 1px dotted #ccc;
}

.loadMore{
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

#filterStuff {
    color: #333;
    border-bottom: 1px solid #333;
}

#logo {
    width: 60px;
    margin-left: 1em;
}
a:hover{
    color: #929292;
}

.container-fluid{
    padding: 0;
}
.bg-image-container{
    height: 300px;
    width: 100%;
    margin: 0;
}
.bg-image{
    position: relative;
    background-image: url('/img/15476-16663-2361-350.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}
.title-container{
    position: absolute;
    bottom: 0;
    color: whitesmoke;
    padding-bottom: 1em;
    padding-left: 3.7em;
}
.title-container .title, .author{
    margin: 0;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    /*background-color: black;*/
}

/*Login Modal*/
.modal-dialog {
    width: 250px;
}

.fade {
    /*-webkit-filter: blur(7px);*/
}
.modal-content {
    background: rgba(51, 51, 51, 0.6);
    border-radius: 7px;
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
    overflow: hidden;
    border: 0;
    color: whitesmoke;
}

.modal-content h4 {
    width: 100%;
    display: block;
    background: linear-gradient(-45deg, #EF4836 10%, #D64541 90%);
    margin: 0;
    padding-top: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 2em;
    letter-spacing: 4px;
    text-shadow: 0 0 10px rgba(205, 205, 205, 0.2);
    color: whitesmoke;
}

.modal-content input {
    border: none;
    background: transparent;
    margin: 15px auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    display: block;
    outline: none;
    color: white;
}

input[name="password"] {
    position: relative;
}

input:after {
    content: 'text';
    position: absolute;
    background-color: green;
    color: blue;
    width: 100px;
    height: 100px;
    top: 0;
}
.modal-content input::-webkit-input-placeholder {
    color: white;
}

.modal-content input:focus {
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.modal-submit {
    background: none;
    border: none;
    letter-spacing: 2px;
    margin-top: 5px;
    color: white;
    outline: none;
}

.modal-submit:hover {
    font-weight: 300;
}

.modal-content .close {
    font-size: 25px;
    padding-right: 5px;
}
@media screen and (max-width: 767px) {
    .modal-dialog {
        width: inherit;
    }
}

/*input:required{*/
/*border: 2px solid black;*/
/*}*/
input:required:invalid {
    border-bottom: 1px solid red;
}
/*input:required:valid{*/
/*border-bottom: 1px solid green;*/
/*}*/

/*Adventure cards on the homepage*/
.card-container{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 25px;
    margin: auto;
}
.card{
    height: 300px;
    width: 30%;
    min-width: 250px;
    max-width: 300px;
    background-color: darkgray;
    margin: 15px auto;
    color: whitesmoke;
    border-radius: 5px;
    position: relative;
}

.card-text-container{
    width: 92%;
    padding-left: 1.3em;
}

.card-footer {
    display: flex;
    position: absolute;
    bottom: 0;
    padding: 0 0 0 1em;
}

.card-footer i {
    margin-top: -5px;
    z-index: 2;

}

.adventureLink {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.row {
    margin: 0;
}

.likeButton {
    cursor: pointer;
}

@media screen and (max-width: 1150px) {
    .card {
        width: 40%;
    }
}

/*Adventure Page CSS*/
[contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block; /* For Firefox */
}

/*[contenteditable=true] {*/
/*border: 1px dashed #AAA;*/
/*width: 290px;*/
/*padding: 5px;*/
/*}*/
.adventure-container {
    display: flex;
    padding: 30px;
    font-weight: 300;

}

article.adventure {
    /*background-color: white;*/
    color: #333;
    max-width: 700px;
    margin: auto;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.adventure b {
    font-weight: 700;
}

.adventureEditSave-btn {
    position: absolute;
    top: 150px;
    left: -5px;
    padding-left: 20px;
}