/* Mostly shared styles */
html {
    height: 100%;
}

body {
    font-size: 16px;
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    height: 100%;
    /* Fixes weird bootstrap modal padding */
    /* in return makes page move at the top */
    padding-right: 0 !important;
}

.divider{
    width: 5px;
    height: auto;
    display: inline-block;
}

@media (min-width: 767px) {
    .btn-toolbar {
        display: flex;
    }
    .navbar-collapse .navbar-default .navbar-form {
        border-color: #e7e7e7;
        background-color: whitesmoke;
    }
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0;
}

ul li img {
    cursor: pointer;
}

#preview li {
     list-style: none;
 }
#previewEdit li {
    list-style: none;
}

#previewRemove li {
    list-style: none;
}

input[type="file"]{
    height: 200px;
    border-width: 1px;
    margin-bottom: 20px;
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    text-align: center
}

input[type="file"]:after {
    content: "";
    display: block;
    min-width: 20em;
    margin: auto 50%;
}

input[type="file"]:hover{
    border: 1px dashed #67a5c5;
}

#pictureDialog {
    width: 50%;
}

.loadMore{
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

#filterStuff {
    color: #333;
    border-bottom: 1px solid #333;
}

#logo {
    width: 60px;
    margin-left: 1em;
}

.container-fluid{
    padding: 0;
}
.bg-image-container{
    height: 300px;
    width: 100%;
    margin: 0;
}
.bg-image{
    position: relative;
    background-color: black; /*Trying to get rid of the flash of white on page load. Not sure if this helps things...*/
    background-image: url('/img/15476-16663-2361-350.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}
.title-container{
    position: absolute;
    top: 75%;
    color: whitesmoke;
    left: 60px;
}

.title-container.author-page{
    left: 80px;
}

a.dropdown-toggle.navbar-dropdown {
    color: whitesmoke;
}

a.dropdown-toggle.navbar-dropdown:hover {
    background-color: transparent;
    color: #c8c8c8;
}

.title-container .title, .author{
    margin: 0;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    /*background-color: black;*/
}

#not-found-container {
    padding-left: 0.9em;
}

.return-to-main-page {
    padding-left: 0;
}

.row.adventure-list-container {
    padding-left: 2.8em;
}

.adventure-title-link {
    font-size: 20px;
}

.panel-body {
    padding: 15px 0px 0px 0px;
}

.table>tbody>tr>td {
    vertical-align : middle;
}

/* ------------------------------------------------------------------ */
/* Navbar config */
.navbar-default {
    height: 60px;
    background-image: none;
    border: none;
    background: transparent;
    box-shadow: none;
}

.navbar {
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.navbar.scrolled {
    background-color: #333;
}

.navbar-brand {
     padding: 0 15px;
 }

.navbar-content-right button, .navbar-content-right p, .navbar-content-right a {
    padding: 0 10px;
    margin: auto 0;
}

.navbar-content-right {
    display: flex;
    padding: 8px 0;
    color: whitesmoke;
}

@media (min-width: 980px) {
    .navbar-content-right {
        max-width: 600px;
    }
}

/* ------------------------------------------------------------------ */
/* Search styles */
#search-field {
    display: none;
}

#custom-search-input input {
    height: 30px;
}

#custom-search-input button {
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: whitesmoke;
    padding: 0 8px 0 10px;
}

#custom-search-input button:hover {
    border: 0;
    box-shadow: none;
    color: #bebebe;
}

.input-group-btn {
    padding-top: 3px;
}

.search-result-container {
    overflow: hidden;
    padding: 2.5em;
}

.search-result .thumbnail {
    border-radius: 0;
}

.search-result:first-child {
    margin-top: 0;
}

.search-result {
    margin-top: 20px;
    min-height: 200px;
}

.search-result-info {
    border-right: 1px dotted #ccc;
    min-height: 140px;
}

.search-result .title-content {
    position: relative;
    min-height: 140px;
    margin-bottom: 20px;
}

.search-result-read-more {
    float: right;
    bottom: 1%;
    margin-bottom: 10px;
}

@media (max-width: 767px){
    .search-result-info {
        border-right: 0;
        min-height: 90px;
    }
    .search-result .title-content {
        border-bottom: 1px dotted #ccc;
        margin-bottom: 20px;
        min-height: 0;
    }
}

/* styles for '...' ellipsis */
.block-with-text {
    width: 98%;
    /* hide text if it more than N lines  */
    overflow: hidden;
    /* for set '...' in absolute position */
    position: relative;
    /* use this value to count block height */
    line-height: 1.2em;
    /* max-height = line-height (1.2) * lines max number (3) */
    max-height: 4.8em;
    /* fix problem when last visible word doesn't adjoin right side  */
    text-align: justify;
    /* place for '...' */
    margin-right: 2em;
    padding-right: 0.5em;
}
/* create the ... */
.block-with-text:before {
    /* points in the end */
    content: '...';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 0;
    bottom: 1%;
}
/* hide ... if we have text, which is less than or equal to max lines */
.block-with-text:after {
    /* points in the end */
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 0;
    /* set width and height */
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    /* bg color = bg color under block */
    background: white;
}

.search-result ul {
    padding-left: 0;
    list-style: none;
}

.search-result ul li {
    font: 400 normal .85em "Roboto", Arial, Verdana, sans-serif;
    line-height: 30px;
}

.search-result ul li i {
    padding-right: 5px;
}

.search-result h3 {
    font: 500 normal 1.375em "Roboto", Arial, Verdana, sans-serif;
    margin-top: 0;
    margin-bottom: 10px;
}

.search-result h3 > a, .search-result i {
    color: #248dc1;
}

.search-result span.plus a {
    background-color: #248dc1;
    padding: 5px 5px 3px 5px;
}

.search-result span.plus a:hover {
    background-color: #414141;
}

.search-result span.plus a i {
    color: #fff;
}

.search-result span.border {
    display: block;
    width: 97%;
    margin: 0 15px;
}

div.adventure-results-container {
    padding-left: 15px;
    border-bottom: 1px solid #ccc;
    margin-right: 15px;
    margin-bottom: 15px;
}

div.adventure-results-container h1{
    font: 500 normal 1.625em "Roboto", Arial, Verdana, sans-serif;
    color: #2a3644;
    margin-top: 0;
    line-height: 1.15;
}

div.adventure-results-container h2.lead{
    font: normal normal 1.125em "Roboto", Arial, Verdana, sans-serif;
    color: #2a3644;
    margin: 0;
    padding-bottom: 10px;
}

.adventure-results-container button {
    margin-bottom: 15px;
}
div.author-results-container {
    padding-left: 15px;
    padding-top: 2em;
    border-bottom: 1px solid #ccc;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 10px;
}

div.author-results-container h1{
    font: 500 normal 1.625em "Roboto", Arial, Verdana, sans-serif;
    color: #2a3644;
    margin-top: 0;
    line-height: 1.15;
}

div.author-results-container h2.lead {
    font: normal normal 1.125em "Roboto", Arial, Verdana, sans-serif;
    color: #2a3644;
    margin: 0;
    padding-bottom: 10px;
}

div#search-result-separator hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* ------------------------------------------------------------------ */
/* My Adventures page styles */

.under-adventure-line > * {
    display: inline;
}

.my-adventures-separator {
    padding-bottom: 1em;
    margin-top: 1em;
}

.pe-7s-angle-down.pe-lg {
    font-size: 1.7em;
    position: relative;
    top: 0.1em;
}

.pe-7s-comment.my-adventures-comments {
    position: relative;
    top: 0.1em;
}

.pe-7s-like.my-adventures-upvotes {
    position: relative;
    top: 0.1em;
}

.my-adventures-under-text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.panel-title.remove-adventure-modal-header{
    padding-left: 0.8em;
}

.close.remove-adventure-modal-close {
    font-size: 15px;
}

#loading-spin-gif {
    margin-left: 1.5em;
}

#loading-modal-content {
    width: 160px;
}

.modal-dialog-center {
    margin-top: 10%;
}

.adventure-list-container.with-top-padding{
    padding-top: 2em;
}

/* ------------------------------------------------------------------ */
/* Author page styles */
.author-subcontainer {
    padding-left: 4em;
}

.adventure-date {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.title-container.author-page {
    left: 80px;
}

.adventure-title-row {
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.twitter {
    padding: 15px;
}

.twitter a {
    display: inline;
    float: right;
    margin-top: 11px;
    font-size: 26px;
}

.twitter-feed {
    padding: 15px 0 0 0;
    max-height: 350px;
    overflow: auto;
    list-style: none;
    margin: 0;
}

.twitter-feed li {
    padding: 8px 0;
    border-bottom: 1px solid #333;
}

@media screen and (max-width: 767px) {
    .adventure-title-row {
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.adventure-comment-amount-row, .adventure-pictures-row {
    padding-left: 1.6em;
}

.adventure-upvotes-row {
    padding-left: 0.5em;
}

#view-map-button {
    margin-bottom: 20px;
}

#map {
    display: none;
    margin-bottom: 30px;
}

/* ------------------------------------------------------------------ */
/*Login Modal Styles*/
.modal-dialog {
    width: 250px;
}

.fade {
    /*-webkit-filter: blur(7px);*/
}
.modal-content {
    background: rgba(51, 51, 51, 0.6);
    border-radius: 7px;
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
    overflow: hidden;
    border: 0;
    color: whitesmoke;
}

.modal-content h4 {
    width: 100%;
    display: block;
    background: linear-gradient(-45deg, #EF4836 10%, #D64541 90%);
    margin: 0;
    padding-top: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 2em;
    letter-spacing: 4px;
    text-shadow: 0 0 10px rgba(205, 205, 205, 0.2);
    color: whitesmoke;
}

.modal-content input {
    border: none;
    background: transparent;
    margin: 15px auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    display: block;
    outline: none;
    color: white;
}

input[name="password"] {
    position: relative;
}

/*input:after {
    content: 'text';
    position: absolute;
    background-color: green;
    color: blue;
    width: 100px;
    height: 100px;
    top: 0;
}*/

#country-selection-dropdown {
    color: black;
    width: 80%
}

#country-selection-dropdown * {
    color: black;
}


.modal-content input::-webkit-input-placeholder {
    color: white;
}

.modal-content input:focus {
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.modal-submit {
    background: none;
    border: none;
    letter-spacing: 2px;
    margin-top: 10px;
    color: white;
    outline: none;
}

.modal-submit:hover {
    font-weight: 300;
}

.modal-content .close {
    padding: 5px 5px 0 0;
}

@media screen and (max-width: 767px) {
    .modal-dialog {
        width: inherit;
    }
}

/*input:required{*/
/*border: 2px solid black;*/
/*}*/
input:required:invalid {
    border-bottom: 1px solid red;
}
/*input:required:valid{*/
/*border-bottom: 1px solid green;*/
/*}*/

/* ------------------------------------------------------------------ */
/*Adventure cards on the homepage*/
.card-container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 25px 25px 0 25px;
    margin: auto;
    max-width: 1500px;
}
.card {
    height: 300px;
    width: 30%;
    min-width: 250px;
    max-width: 400px;
    background-color: darkgray;
    margin: 15px auto;
    color: whitesmoke;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.card-text-container {
    /*width: 92%;*/
    /*padding-left: 1.3em;*/
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 0.0));
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    padding: 15px 15px 0 15px;
}

/*.card-text-container.adventure-title{*/
/*position: absolute;*/
/*}ad*/
.card-image-container {
    width: 100%;
    height: 100%;
}

.card-image-container div {
    position: relative;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}
.card-footer {
    display: flex;
    /*position: absolute;*/
    /*bottom: 0;*/
    /*padding: 0 0 0 1em;*/
}

.adventureLink {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.row {
    margin: 0;
}

.likeButton {
    cursor: pointer;
    padding: 5px;
    margin-top: -10px;
    z-index: 2;
}

.voted {
    color: rgb(217, 30, 24);
}

@media screen and (max-width: 1150px) {
    .card {
        width: 40%;
    }
}

/* ------------------------------------------------------------------ */
/*Adventure Page CSS*/
/*This allows a placeholder to be used on contenteditable divs*/
[contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block; /* For Firefox */
}

.adventure-container {
    display: flex;
    padding: 30px;
}

article.adventure {
    /*background-color: white;*/
    color: #333;
    max-width: 700px;
    margin: auto;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

@media screen and (min-width: 767px) {
    .image-container {
         width: 70%;
    }
}

.thumb {
    margin-bottom: 30px;
}

.adventure b {
    font-weight: 700;
}

.adventure-link {
    color: #333;
    font-weight: 700;
}

.adventure-link:hover {
    color: #333;
}

.adventure-footer-container {
    position: fixed;
    height: 50px;
    width: 100%;
    display: flex;
    bottom: -5px;
    z-index: 99;

}

.adventure-footer {
    max-width: 700px;
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    padding: 0 50px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #333;
    border-bottom: 0;
}

.adventure-footer p {
    padding: 0 10px;
    margin: auto 0;
    font-size: 1.7em;
}

.adventure-footer a {
    margin: auto 0 auto 15px;
    font-size: 1.5em;
    color: #333;
}

.adventure-footer h4 {
    font-size: 1em;
    padding-left: 15px;
    border-left: 1px solid #333;
}

.adventure-footer h5 {
    margin: auto 0 auto auto;
}
.adventureEditSave-btn {
    /*position: absolute;*/
    /*top: 150px;*/
    /*left: -5px;*/
    /*padding-left: 20px;*/
}

.comment-section {
    max-width: 700px;
    margin: auto;
}

.comment-container {
    margin-bottom: 100px;
}
.comment-box {
    width: 100%;
}

.comment {
    width: 100%;
}

.comment > .comment {
    margin-left: 30px;
}

.comment > .comment > .comment > .comment > .comment {
    margin-left: 0;
}

.comment-author {
    color: #D91E18;
}

.comment > p {
    border-bottom: 1px solid grey;
    margin: 0;
}
.comment-actions {
    display: flex;
}

.comment-actions p {
    margin: 0 10px;
    cursor: pointer;
    font-weight: bold;

}

.comment > [contenteditable=true] {
    border: 1px dashed grey;
}

#saveDropDown {
    margin-top: 0;
    padding-top: 0;
    overflow: hidden;
}

@keyframes gradient {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: 100% 0
    }
}

#keyword-button {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0 0;
    background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
    background-size: 500% auto;
    animation: gradient 3s linear infinite;
}

.keyword-content {
    background-color: white;
    border-radius: 5px;
    padding: 25px;

}

.footer {
    height: 100px;
    width: 100%;
}
/* ------------------------------------------------------------------ */
/* Admin Page Styles */
.admin-page-navtabs {
    padding-left: 2.5em;
}

.user-username {
    margin-top: 20px;
    margin-bottom: 20px;
}

.glyphicon.change-adventure-upvotes-action-icon {
    padding-left: 0.4em;
}

.change-user-type-icon, .change-adventure-upvotes-icon {
    padding-left: 0.3em;
}

.change-user-type-action-icon {
    padding-left: 0.3em;
}

.change-adventure-upvotes-icon, .change-adventure-upvotes-action-icon {
    color: #343434;
}

.change-user-type-icon:hover, .change-user-type-action-icon:hover,
.change-adventure-upvotes-icon:hover, .change-adventure-upvotes-action-icon:hover  {
    color: #696969;
}

.ok-cancel-icons {
    padding-top: 0.5em;
}

.user-type-cell {
    width: 150px;
}

.adventure-upvotes-row {
    width: 80px;
}

.user-filters {
    margin-top: 0;
    padding-left: 1em;
}

.adventure-filters {
    padding-left: 1em;
}

.panel-heading.padded-headings {
    padding: 5px 5px 0 5px;
}


.panel.with-nav-tabs .nav-tabs {
    border-bottom: none;
}
.panel.with-nav-tabs .nav-justified {
    margin-bottom: -1px;
}

.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
    background-color: #ddd;
    border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
    color: #555;
    background-color: #fff;
    border-color: #ddd;
    border-bottom-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f5f5f5;
    border-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #555;
}

.td-fixed-size {
    width: 120px;
}

.td-fixed-size-larger {
    with: 180px;
}