/* Navbar config */
.navbar-default{
    height: 90px;
    background-color: transparent;
    background-image: none;
    /*background: linear-gradient(to bottom, rgba(40,40,40,0.4) 0%, rgba(40,40,40,0.1) 35%,rgba(40,40,40,0) 100%);*/

    border: 0;
    box-shadow: none;
}

/*.navbar-default::before{*/
/*content: '';*/
/*position: absolute;*/
/*color: whitesmoke;*/
/*width: 100%;*/
/*height: 100%;*/
/*/!*background-color: white;*!/*/
/*}*/
body{
    font-size: 16px;
    background-color: #3c3c3c;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

.navbar-brand {
    padding: 0 15px;
}

.navbar-content-right {
    display: flex;
    padding: 15px 0;
}

.navbar-content-right button, .navbar-content-right p, .navbar-content-right a {
    padding: 0 10px;
    margin: auto 0;
}

#logo {
    width: 90px;
    margin-left: 1em;
}
a:hover{
    color: #929292;
}

input:required{
    border: 2px solid black;
}
input:required:invalid{
    border: 3px solid red;
}
input:required:valid{
    border: 3px solid green;
}
.container-fluid{
    padding: 0;
}
.bg-image-container{
    height: 300px;
    width: 100%;
    margin: 0;
}
.bg-image{
    background-image: url('/img/15476-16663-2361-350.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}
.title-container{
    margin-top: -75px;
    padding: 0 0 0 15px;
    color: #333;
    z-index: 2;

}
.title-container .title, .author{
    margin: 0;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    /*background-color: black;*/
}
.card-container{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 25px;
    margin: auto;
}
.card{
    height: 300px;
    width: 30%;
    min-width: 250px;
    max-width: 300px;
    background-color: darkgray;
    margin: 15px auto;
    color: whitesmoke;
    border-radius: 5px;
    position: relative;
}

.card-text-container {

}

.card-footer {
    display: flex;
    position: absolute;
    height: 25px;
    width: 100%;
    bottom: 0;
    padding: 0 0 0 10px;
}

.card-footer i {
    margin-top: -5px;
    z-index: 2;

}

.adventureLink {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.row {
    margin: 0;
}

.likeButton {
    cursor: pointer;
}

@media screen and (max-width: 1150px) {
    .card {
        width: 40%;
    }
}

/*Adventure Page CSS*/
[contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block; /* For Firefox */
}

/*[contenteditable=true] {*/
/*border: 1px dashed #AAA;*/
/*width: 290px;*/
/*padding: 5px;*/
/*}*/
.adventure-container {
    display: flex;
    padding: 30px;
    font-weight: 300;

}

article {
    /*background-color: white;*/
    color: whitesmoke;
    max-width: 700px;
    margin: auto;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
}

.adventureEditSave-btn {
    position: absolute;
    top: 150px;
    left: -5px;
    padding-left: 20px;
}