<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head_include.twig' %}
</head>
<body>
<h1>You Are Now In The Admin Area</h1>

<p>{{ loggedIn.first_name }}</p>

<p>{{ loggedIn.username }}</p>

<p>{{ loggedIn.user_group }}</p>
</body>
</html>