<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head_include.html' %}
</head>
<body>
{% include 'nav_include.html' %}

<div class="container-fluid">

    <div class="row bg-image-container">
        <div class="bg-image">
            <div class="title-container">
                <h1 class="title" contenteditable="true" id="adventureTitle" role="textbox" placeholder="Enter a title">
                    {{ adventure.Title }}</h1>

                <h3 class="author">By: {{ adventure.Username }}</h3>
            </div>
        </div>
    </div>
    <!--@formatter:off-->

    <div class="row adventure-container">
        <article class="col-sm-12 adventure" contenteditable="true" role="textbox" id="adventureContent" placeholder="Start typing here to begin your adventure..">{{ adventure.Content|raw }}</article>
    </div>
    <!--@formatter:on-->

</div>

{% include 'script_include.html' %}

</body>
</html>