<div class="row adventure-container">
    <div class="col-sm-12 comment-section">
        <div class="comment-box">
            {% if permissions > 0 %}
            <form onsubmit="commentForm()" method="POST" id="commentForm">
                <label for="comment-box">
                    <textarea name="comment-box" id="comment-box" cols="30"
                              rows="10" placeholder="Type a response to this adventure"></textarea>
                    <input type="submit">
                </label>
            </form>
            {% elseif permissions == 0 %}
            <p>You can't comment on this adventure</p>
            {% else %}
            <p>You need to login to post comments first</p>
            {% endif%}
        </div>
        <div class="comment-container">

        </div>
    </div>
</div>