<div class="row">
    <div class="col-sm-12">
        <div class="comment-container">

            {% for comment in comments %} {# Loops through the comments #}

                <div class="comment">
                    <hr>
                    <!-- This is testing my git is working again-->
                    <h4 class="author"> {{ comment.Username[1] }}</h4>
                    <h5 class="timestamp"> {{ comment.DatePosted[1] }} </h5>
                    <p class="content"> {{ comment.Content[1] }}</p>
                </div>

            {% endfor%}

        </div>
    </div>
</div>