<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head_include.html' %}
</head>
<body>
    {% include 'nav_include.html' %}

<div class="container-fluid">

    <div class="row bg-image-container">
        <div class="bg-image"></div>
        <div class="title-container">
            <h1 class="title">Welcome to Wanderblog</h1>
            <!--            <h3 class="author">Author Name here</h3>-->
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <div class="card-container">

                {% for adventure in adventures %}
                    <div class="card">
                        <h3>{{ adventure.Title }}</h3>
                        <p>by: {{ adventure.Username }}</p>
                        <p>{{ adventure.Upvotes }} Likes</p>
                        <button type="button" class="btn btn-primary btn-sm likeButton"
                                data-post-id="{{ adventure.PostID }}">Like this
                        </button>
                        <a href="/adventure.php?id={{ adventure.PostID }}">View Adventure Here</a>
                    </div>
                {% endfor %}
            </div>
            <div class="loadMore">
                <button type="button" class="btn btn-primary btn-sm" id="loadMoreButton">Load More Adventures</button>
            </div>
        </div>
        <div class="col-sm-3">
            <h3>Filter stuff here</h3>
        </div>
    </div>

</div>

{% include 'script_include.html' %}

</body>
</html>