<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head_include.html' %}
</head>
<body>
    {% include 'nav_include.html' %}

<div class="container-fluid">

    <div class="row bg-image-container">
        <div class="bg-image">
            <div class="title-container">
            <h1 class="title">Welcome to Wanderblog</h1>
            <!--            <h3 class="author">Author Name here</h3>-->
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <div class="card-container">

                {% for adventure in adventures %}
                    <div class="card">
                        <div class="card-text-container">
                            <h3>{{ adventure.Title }}</h3>

                            <p>by: {{ adventure.Username }}</p>
                            <a href="/adventure.php?id={{ adventure.PostID }}"><span class="adventureLink"></span></a>
                        </div>
                        <div class="card-footer">
                            <i class="pe-7s-like pe-2x likeButton" data-post-id="{{ adventure.PostID }}"></i>

                            <p>{{ adventure.Upvotes }} Likes</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="loadMore">
                <button type="button" class="btn btn-primary btn-sm" id="loadMoreButton">Load More Adventures</button>
            </div>
        </div>
        <div id="filterStuff" class="col-xs-12 col-sm-3">
            <h3>Filter stuff here</h3>
        </div>
    </div>

</div>

{% include 'script_include.html' %}

</body>
</html>