<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head_include.html' %}
</head>
<body>
    {% include 'nav_include.html' %}

<div class="container-fluid search-container">

        <div class="mb20">
            <h1>Search Results</h1>
            {% if adventures is empty %}
            <h2 class="lead"><strong class="text-danger">No</strong> results were found for the search for <strong class="text-danger">{{ query }}</strong>. Please try again.</h2>
            {% else %}
            <h2 class="lead"><strong class="text-danger">{{ adventures|length }}</strong> results were found for the search for <strong class="text-danger">{{ query }}</strong></h2>
            {% endif %}
        </div>

        <section class="col-xs-12 col-sm-12 col-md-12">
            {% for adventure in adventures %}
            <article class="search-result row">
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <a href="#" title="{{ adventure.Title }}" class="thumbnail"><img src="http://lorempixel.com/250/140" alt="Lorem ipsum" /></a>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <ul class="meta-search">
                        <li><i class="glyphicon glyphicon-user"></i><span>{{ adventure.Username }}</span></li>
                        <li><i class="glyphicon glyphicon-globe"></i><span>{{ adventure.Country }}</span></li>
                        <li><i class="glyphicon glyphicon-heart"></i><span>{{ adventure.Upvotes }}</span></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-7 col-md-7 text">
                    <h3><a href="#" title="">{{ adventure.Title }}</a></h3>
                    <p class="text-ellipsis">{{ adventure.Content }}</p>
                    <span class="plus"><a href="#" title="Lorem ipsum"><i class="glyphicon glyphicon-plus"></i></a></span>
                </div>
                <span class="clearfix borda"></span>
            </article>
            {% endfor %}
        </section>
    </div>

{% include 'script_include.html' %}
<script>
    $(function() {
        var text = $(".text-ellipsis");
        if(text.text().length > 250){
            text.html(text.text().substring(0, 247) + "...");
        };
    });
</script>
</body>
</html>